<mat-toolbar class="app-title">Filmes Cadastrados</mat-toolbar>
<div class="home-content" (scrolled)="onScroll()" *ngIf="filmes.length; else semRegistro" infiniteScroll>
  <mat-card class="home-card" *ngFor="let filme of filmes">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ filme.titulo }}</mat-card-title>
      <mat-card-subtitle>{{ filme.genero }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="filme.urlFoto || semFoto">
    <mat-card-content>
      <p>
        {{ filme.descricao || "Nenhuma descrição informada" }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" (click)="open()" mat-raised-button>
        OPEN
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #semRegistro>
  <h1 class="full-width main-div">Nenhum registro encontrado!</h1>
</ng-template>
